# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Logs
*.log
logs/

# Data outputs
data/
adapters/
checkpoints/

# Model outputs
*.safetensors

# Environment files
.env
.venv/
env/
venv/
ENV/
venv/        # <-- add this line if not present

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

#document_sorter.py