requests
sentence-transformers
numpy
pyyaml
faiss-cpu
docarray>=0.21.0,<0.22.0
jina>=3.14.0
peft
datasets
torch
transformers
psutil
beautifulsoup4
matplotlib
seaborn
opentelemetry-exporter-prometheus
GPUtil
scikit-learn
pytest
plotly>=5.0.0,<6.0.0